body{
	font-family:Arial;
	width:1000px;
	margin-left:auto;
    margin-right:auto;
}
.btnblue {
  background: #3e85b5;
  background-image: -webkit-linear-gradient(top, #3e85b5, #2980b9);
  background-image: -moz-linear-gradient(top, #3e85b5, #2980b9);
  background-image: -ms-linear-gradient(top, #3e85b5, #2980b9);
  background-image: -o-linear-gradient(top, #3e85b5, #2980b9);
  background-image: linear-gradient(to bottom, #3e85b5, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  font-weight:bold;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  border: 0;
}

.btnblue:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btngreen {
  background: #43cc4c;
  background-image: -webkit-linear-gradient(top, #43cc4c, #53c965);
  background-image: -moz-linear-gradient(top, #43cc4c, #53c965);
  background-image: -ms-linear-gradient(top, #43cc4c, #53c965);
  background-image: -o-linear-gradient(top, #43cc4c, #53c965);
  background-image: linear-gradient(to bottom, #43cc4c, #53c965);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  font-weight:bold;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  border: 0;
  margin-left:98px;
}

.btngreen:hover {
  background: #abe079;
  background-image: -webkit-linear-gradient(top, #abe079, #64d475);
  background-image: -moz-linear-gradient(top, #abe079, #64d475);
  background-image: -ms-linear-gradient(top, #abe079, #64d475);
  background-image: -o-linear-gradient(top, #abe079, #64d475);
  background-image: linear-gradient(to bottom, #abe079, #64d475);
  text-decoration: none;
}

/* Rounded Corners */
.ta5 {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	height: 30px;
	width: 267px;
}
.ta6 {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	height: 30px;
	width: 195px;
}

.header{
	float:left;
	width:1000px;
	height:40px;
	padding-top:10px;
	box-shadow:0px -1px 13px #B9AEC2;
}

.header span{
	margin:10px;
}

.header-kanan span a{
	font-weight:bold;
	text-decoration:none;
	color:#000;
}

.logo{
	float:left;
	margin-left:10px;
}
.header-kanan{
	float:right;
}
.konten{
	width:1000px;
	box-shadow:0px -1px 13px #B9AEC2;
	float:left;
}
.kontenhome{
	width:1000px;
	box-shadow:0px -1px 13px #B9AEC2;
	float:left;
	background-image:url('D:/RIMANEWS IT/ADVERT/maidu_color.jpg');
}

.konten-kiri{
	float:left;
	margin:60px 10px 50px 50px;
	padding:5px;
	height:400px;
}
.konten-kiri-signin{
	padding:10px 10px 5px 10px;
	background-color:#fff;
	border-radius: 3px;
}
.konten-kiri-signup{
	padding:10px 0 10px 10px;
	margin-top:10px;
	background-color:#fff;
	border-radius: 3px;
}

.konten-kanan{
	float:right;
}

.konten-kanan-video{
	border:thin solid;
	margin:60px 50px 10px 50px;
	width:510px;
	height:300px;
}

.konten-kanan-ads{
	text-align:left;
	margin:0 50px 0 50px;
}
.konten-wiw-judul{
	text-align:left;
	font-size:14pt;
	font-weight:bold;
	margin:20px 30px 10px 30px;
}
.mar40{
	margin-top:40px;
}
.konten-wiw-isi{
	text-align:left;
	margin:10px;
	margin:10px 30px 10px 30px;
}
.konten-gs-judul{
	text-align:left;
	font-size:14pt;
	font-weight:bold;
	margin:10px;
	
}
.konten-gs-isi{
	text-align:left;
	margin:10px;
	width:980px;
	border-bottom: thin solid #f0f0f0;
	float:left;
}
.konten-gs-isi-kiri{
	width:325px;
	float:left;
	margin-left:10px;
	//border:thin solid;
}
.konten-gs-isi-kanan{
	width:600px;
	float:right;
	//border:thin solid;
}
.subkonten{
	box-shadow:0px 1px 13px #B9AEC2;
	width:1000px;
	float:left;
}
.subkonten span{
	float:left;
	width:300px;
	height:100px;
	border:thin solid;
	margin:30px 5px 30px 20px;
}

.footer{
	float:left;
	height:50px;
	width:730px;
	padding-left:270px;
	box-shadow:0px 1px 13px #B9AEC2;
}

.footer span{
	float:left;
	margin-top:15px;
	margin-left:20px;
	
}
.footer span a{
	text-decoration:none;
	font-weight:bold;
	color:black;
}